* {
  padding: 0;
  margin: 0;
}
body {
  padding: 10px;
}
.div-class {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin: 10px;
}
.div-input {
  text-align: center;

  padding: 5px 10px;
}
