OAIP/bin
OAIP/obj

OAIP/OAIP.csproj
OAIP.sln

.vscode

OAIP/texts

# files txt
OAIP/21.01.files/texts
OAIP/24.01.files/texts

OAIP/28.01.pdf/.pdfs/

# test proj
test

ktits-repository.sln
OAIP/31.01.docx/.docxs
