# file directories
**/.idea/**
**/.vs/**
**/.vscode/**
**/.idea/**

# .net build directories
**/bin/**
**/obj/**
**/packages/**

# libraries
**/vendor/**
**/node_modules/**

# settings
**/.env

UnityProjects