# file directories
**/.idea/**
**/.vs/**
**/.vscode/**
!**/.vscode/launch.json**
!**/.vscode/tasks.json**
!**/.vscode/settings.json**

# .net build directories
**/bin/**
**/obj/**
**/packages/**

# libraries
**/vendor/**
**/node_modules/**

# settings
**/.env

flutter*
Unity*
~*
Laravel*