.slider {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;

  min-height: 200px;
}
.slid {
  padding: 10px;

  display: none;
}
.slider-button {
  /* background-color: black; */
  background: url(../rec/img/arrow.png);

  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
