body {
  font-family: sans-serif;
  margin: 20px;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: red;
}

.subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

.list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.shapes {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.shape {
  display: inline-block;
  border-radius: 5px;
  height: 30px;
  width: 60px;

  border: 0.01px solid black;
}

.rectangle {
  background-color: red;
}

.ellipse {
  background-color: lightskyblue;
  border-radius: 50%;
  width: 60px;
  height: 40px;
}

.parallelogram {
  background-color: lightgreen;
  transform: skew(-20deg);
  width: 60px;
  height: 30px;
}
/* table */
table * {
  border: 1px solid black;
}
#table2 {
  background-color: yellow;

  border: 1px solid red;
}
table caption {
  border: none;
}
table img {
  width: 300px;
}
.table__inner {
  display: flex;

  gap: 15px;
  justify-content: center;
  align-items: center;
}
