.body {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content auto min-content;
}
.container {
    padding: 15px;

    display: flex;
    align-items: center;

    gap: 15px;
}
/* header */
.header {
    /* background-color: white; */
    background-color: rgb(239, 239, 239);
}
.header button {
    background-color: rgb(239, 239, 239);
}
.header__inner {
    justify-content: space-between;

    height: 100px;
}
.header-logo-img {
    width: 50px;
    height: 50px;
}
.header-a {
    display: flex;

    align-items: center;
    gap: 6px;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
/* header-menu */
.menu-active {

    padding: 6px;
    gap: 6px;

    display: none;
    flex-direction: column;

    position: absolute;
    right: 1px;
    top: 130px;

    text-align: right;
    background-color: rgb(239, 239, 239);
    
    border-radius: 1px;
}
.form_inner form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form_inner input {
    text-align: center;
    width: 100%;

    padding: 5px;
}
.form_inner button {
    border: 1px solid black;

    border-left: 0;
    border-right: 0;
}
.inputs {
    text-align: left;

    border: 1px solid black;
    border-left: 0;
}
/* footer */
.footer {
    /* background-color: white; */
    background-color: rgb(239, 239, 239);
}
.footer button {
    background-color: rgb(239, 239, 239);
}
.footer {
    justify-content: space-between;

    /* height: 100px; */
}
.footer_inner {
    height: 100px;
}
.footer-logo-img {
    width: 50px;
    height: 50px;
}
.footer-a {
    display: flex;

    align-items: center;
    gap: 6px;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}